@import "mixins";

.contactConatiner{
    display: flex;
    flex-direction: row;
    left: 30%;
    gap: 15px;
    bottom: 10px;
    @include sm() {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: auto;
        right: auto;
    }
}

.contactHeader{
    font-size: 1.2em;
    font-weight: 600;
    color: #848181;
    @include sm() {
        font-size: 1em;
    }
}

.contactConatiner a:hover {
    transform: translateX(5px);
    transition-duration: 1s;
}

.contactDetails{
    display: flex;
    flex-direction: column;
    color: rgb(75, 72, 72);
    font-size: 1em;
    gap: 15px;
    div img{
        background-color: #848181;
        border-radius: 100%;
       
    }

    @include sm() {
        margin-bottom: 50px;
    }
    
}

.contactItem a {
    color: rgb(75, 72, 72);
    font-size: 1em;
    cursor: pointer;
}

.border{
    img{
    border: 2px solid #848181 !important;
    }
}

.contactItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    @include sm() {
        word-break: break-all;
    }
}

.contactItem span {
    padding-left: 10px;
}

.socialMedia{
    bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 80px;
    @include sm(){
        bottom: 75px;
    }
}