@import "variables";
@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  width: 100%;
}
body {
  background-color: #000;
  background-image: linear-gradient(0deg,#000,transparent 70%,transparent),url("/images/home-page-ex.png");
  background-position: 50% 0;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Work Sans', sans-serif;
  @include md() {
    background-image: linear-gradient(0deg,#000 25%,transparent 100%,transparent),url("/images/back-ground-image-mobile.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 0,85% 0;
  }
}

.default-layout-container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  @include sm() {
    flex-direction: column;
    align-items: center;
    justify-content:center;
  }
}

h1{
  font-size: 3.20em;
  background: -webkit-linear-gradient(#eee, rgb(36, 34, 34));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @include sm() {
    font-size: 2.2em;
  }
}

li{
  color: #fff;
  font-size: 1em;
  display: block;
}

h4, h3 {
  color: #fff;
}
h4{
  font-weight: 300;
}
p {
  color: #fff;
  width: 60ch;
  @include sm() {
    width: 100%;
  }
}
a {
  color: var(--link-color-normal);
  text-decoration: none;
}

.active a {
  background: -webkit-linear-gradient(rgba(128,128,128, 0.5), rgb(216, 111, 13)) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

a:hover{
  span{
    animation: move-right 1s both;
  }
  }


ul li { 
  margin-top: 10px;
  display: list-item;
}

  .progress {
    position: fixed;
    left: 0;
    right: 0;
    height: 5px;
    bottom: 10px;
  }
  
  .go-next{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 20px;
  }

  .go-prev{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 20px;
  }

  .go-next:hover {
    a span{
      animation: move-right 1s both !important;
    }
  }

  .go-prev:hover {
    a span{
      animation: move-left 1s both !important;
    }
  }

  .go-next-prev{
    display: flex;
    flex-direction: row;
    justify-content:center;
    font-size: 20px;
    gap: 24px;
  }

  .go-next-prev div:nth-child(1):hover {
    a span{
      animation: move-left 1s both !important;
    }
  }

  .go-next-prev div:nth-child(2):hover {
    a span{
      animation: move-right 1s both !important;
    }
  }

  .learn-more{
    font-size: 20px;
    font-weight: 600;
    animation: me-learn-more 1s 11s backwards;
  }

  .container {
    display: block;
    overflow: hidden;
  }

  .top-part {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: #000;
    animation: triangle-top 5s 1s forwards;
  }

.logo{
  position: fixed;
  bottom: 0;
  right: 0;
}

@keyframes move-right {
  from{
    transform: none;
  }
to{
  transform: scale(1.1) translateX(10px);
}
}

@keyframes move-left {
  from{
    transform: none;
  }
to{
  transform: scale(1.1) translateX(-10px);
}
}

  @keyframes triangle-top {
    0%{
      width: 100vw;
      height: 100vh;
    }

   50%{
    width: 50vw;
    width: 50vh;
    transform: scale (0.5);
    }

    100%{
      width: 0;
      height: 0;
    }
  }

  @keyframes me-learn-more {
    0% {
      opacity: 0;
    }
    
    100% {
      opacity: 1;
    }
  }

  .more-menu{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    // animation: more-menu 2s 1 forwards;
    // animation-play-state:paused;
    // transform-origin: center;
  }

  .more-menu:hover{
    transform: scale(1.2);
  }

  .more-menu .disabled {
    display: none;
  }

  .mobile-view{
    display: inline-block;
    @include sm() {
      display: none;
    }
  }

  @keyframes more-menu {
    0% {
      opacity: 1;
      transform: rotate(0deg);
    }
    
    100% {
      opacity: 0;
      transform: rotate(180deg);
    }
  }

