
.container{
min-height: 100vh;
background-color: #000;
}
.mySelfImage{
  min-height: 100vh;
  
}

.imagePosition {
  position: fixed;
  bottom: 0px;
}

.homePageIntro{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 12em;
  margin-left: 5em;
  gap: 25px;
  h1 span span{
    opacity: 0;
    animation: move-text-color 0.75s forwards;
  }
}

.aboutMe{
  position: absolute;
  display: flex;
  gap: 25px;
  flex: 1;  
  flex-direction: column;
  width: 60%;
  top: 8em;
  margin-left: 5em;
  padding-bottom: 5em;
   h2{
    color: #ffff;
  }
  p{
    line-height: 1.35em;
  }
}

@keyframes move-text-color {
  0% {
    bottom: -0.2em;
    opacity: 0;
    color: #3E5C76;
  }
  
  50% {
    bottom: 0.2em;
    color: #EC058E;
  }

  100% {
    bottom: 0;
    opacity: 1;
    color: #cb3126;
  }
}