
.container{
min-height: 100vh;
background-color: #000;
}
.mySelfImage{
  min-height: 100vh;
  
}

.imagePosition {
  position: fixed;
  bottom: 0px;
}

.homePageIntro{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 12em;
  margin-left: 5em;
  gap: 25px;
}

.aboutMe{
  position: absolute;
  display: flex;
  gap: 25px;
  flex: 1;  
  flex-direction: column;
  width: 60ch;
  top: 8em;
  margin-left: 5em;
  padding-bottom: 5em;
   h2{
    color: #ffff;
  }
  p{
    line-height: 1.35em;
  }
}