@import "mixins";

.container{
min-height: 100vh;
background-color: #000;
}
.mySelfImage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-top: 100px;
}

.imagePosition {
  position: fixed;
  bottom: 0px;
}

.homePageIntro{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 5em;
  gap: 25px;
  top: 0;
  bottom: 0;
  label span span{
    font-size: 3.20em;
    font-weight: 600;
    opacity: 0 ;
    animation: move-text-color 0.75s  forwards;
  }

  p{
    font-weight: 500;
    animation: me-paragraph 1s 7s backwards;
  }

  @include sm() {
    padding: 20px;
  }
}

.aboutMe{
  display: flex;
  gap: 25px;
  flex: 1;  
  flex-direction: column;
  align-items: center;
  width: 60%;
  top: 8em;
  margin-left: 5em;
  padding-bottom: 5em;
   h2{
    color: #ffff;
  }
  p{
    line-height: 1.35em;
    text-align: justify;
  }
  @include sm() {
    top: 2em;
    width: 100%;
    padding: 10px;
    margin-left: 10em;
    h1{
      text-align: center;
    }
  }
}

@keyframes move-text-color {
  0% {
    bottom: -0.2em;
    opacity: 0;
    color: #3E5C76;
  }
  
  50% {
    bottom: 0.2em;
    color: #EC058E;
  }

  100% {
    bottom: 0;
    opacity: 1;
    color: #cb3126;
  }
}

@keyframes me-paragraph {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}