

.navBarContainer{
    display: flex;
    position: sticky;
    align-self: flex-start;
    flex-direction: column;
    justify-content: center;
    top: 0;
    margin: 0;
    padding: 10px;
    height: 3.5em;
    background-color: rgba(7,7,7,.93);
    z-index: 1;
}
.navbarLinks{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.link{
    padding-left: 15px;
    padding-right: 15px;
}