.projectContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.projectHeader{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: auto;
    font-size: 1.5em;
    margin-left: 3.2em;
}

.projectItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 30px 2em;
    margin-top: 90px;
}

.details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-left: 60px;
}

.projectImages{
    display: flex;
}

.learnMore{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    font-size: 20px;
}

.arrowRight {
    display: inline-block;
    vertical-align: middle;
}

.description{
    display: flex;
    flex-direction: column;
    width: 60ch;
    gap: 10px;
}