@import "mixins";

.projectContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-left: auto;
    margin-right: auto;
}
.projectHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    @include xl() {
        flex-direction: column;
        text-align: center;
        h1 {
            font-size: 1.6em !important;
        }
    }
}

.projectItem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 30px 30px 2em;
    margin-top: 90px;
    @include xl() {
        margin-top: 50px;
        gap: 15px;
        flex-direction: column;
        padding: 30px 30px 30px 6em;
    }
}

.details{
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    left: 78px;
    background: rgba(0, 0, 0, 0.541);
    padding: 25px;
    border-radius: 5px;
    opacity: 0;
    @include xl() {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 0;
        justify-content: center;
        width: 100%;
    }
    @include sm() {
        position:relative;
        left:auto;
        right: auto;
        text-align:center;
    }
}

.projectImages{
    display: flex;
    padding: 50px;
    border-radius: 5px;
    opacity: 0;
}

.learnMore{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    font-size: 20px;
}

.arrowRight {
    display: inline-block;
    vertical-align: middle;
}

.description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include xl() {
        align-items: center;
        width: 100%;
        h1{
            font-size: 2.2em;;
        }
    }
}

.projectHeader h1{
    opacity: 0;
    animation: header 1s both;
    
}

.projectItem[data-state="animate"] {
    .details {
        animation: project-item-animation-left 1s forwards;
    }

    .projectImages {
        animation: project-item-animation-right 1s 0.5s forwards;
    }
}

@keyframes header {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

@keyframes project-item-animation-left {
    from, 50%{
        opacity: 0;
        transform: translateY( 20%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes project-item-animation-right {
    from, 50%{
        opacity: 0;
        transform: translateX(-25%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}