.gallerySection{
    display: flex;
    flex-direction: column;;
    padding: 30px 30px 30px 95px;
}

.goBack{
    top: 50px;
    bottom: 25px;
    position: sticky;
    display: flex;
    flex-direction: row;
    padding: 50px 0 50px 95px;
    font-size: 1.5em;
    z-index: 2;
}
.projectDetails{
    padding: 15px;
}

.galleryImagesYH{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-image:linear-gradient(to right,  rgba(255,0,0,0), #ffd100);
}

.galleryImagesFM{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-image:linear-gradient(to right, rgba(255,0,0,0), #2F69FE);
}

.galleryImagesPro11{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), #4DBBEB);
}

.nameAndTitle{
    margin-right: auto;
    padding: 0;
    color: #ffd100;
}