@import "mixins";

.skillsAndEducation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
    max-width: 60%;
    padding-bottom: 50px;
    @include sm() {
        justify-content: center;
        min-width: 100%;
    }
}

#techItem {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.techCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
    // animation: tech-fitting 3s forwards;
}

.techCardTop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.techCardBottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: #fff;
    padding: 15px;
    font-size: 1em;
    font-weight: 600;
    white-space: nowrap;
}


.techCardBottom label:nth-child(2) {
    font-size: 0.8em;
    font-weight: 300;
}

.techCardBottom label:nth-child(3) {
    font-size: 0.8em;
    font-weight: 300;
}

.eduactionDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: #fff;
    padding: 15px;
    font-size: 1em;
    font-weight: 600;
}

.eduactionDetails label:nth-child(2) {
    font-size: 0.8em;
    font-weight: 300;
}
.eduactionDetails label:nth-child(3) {
    font-size: 0.8em;
    font-weight: 300;
}

.education{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    h1 {
        opacity: 0;
        @include sm() {
            padding: 5px;
        }
    }
}

.education[data-edu="visible"] {
    h1 {
        animation: educationTitle 2s both;
    }

    p {
      animation: techFitting 2s 2s both;  
    }
}


.degreePic{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: #4C6793;
    border-radius: 4px;
    @include sm() {
        flex-direction: column;
        gap: 50px;
    }
}

.degDetails{
    display: flex;
    flex-direction: column;
    width: 20ch;
    font-size: 1.2em;
    color: #fff;
    align-self: center;
    a {
        font-size: 1em;
        color: #8BBCCC;
    }
}

.degree{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    margin: 25px;
    // background: linear-gradient(to right, #000, #A62349, transparent);
    @include sm() {
        flex-direction: column-reverse;
        width: 100%;
    }
}

.internShip{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 25px;
    // background: linear-gradient(to right, #000, #D36B00, transparent);
    @include sm() {
        flex-direction: column-reverse;
        width: 100%;
    }

    p {
        opacity: 0;
    }
}

.internShip[data-intern="visible"] {
    p {
        animation: educationAnim 2s 1s forwards;
    }
}

.degreeImage{
    background-size: cover;
    width: 300px;
    height: 200px;
}

.degree a:hover {
    transform: translateY(-20px);
    transition: 1s;

}


.layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(19, 19, 16, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.eductionContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    margin-bottom: 50px;
    padding: 50px;
    border-radius: 4px;
    background-color:rgba(82, 87, 93, 0.5);
    p {
        color: #8BBCCC;
        opacity: 0;
    }
}

.eductionContainer[data-edu="visible"] > p {
    animation: educationAnim 2s 1s forwards;
}

.awardsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    @include sm(){
        padding: 5px;
        flex-direction: column;
    }
  
}

.hackLnContainer .details label:nth-child(1) {
    color: #fff;
    font-weight: 600;
    font-size: 2.20em;
    opacity: 0;
}

.hackLnContainer[data-hackLn="visible"] .details label:nth-child(1) {
    animation: movetextcolor 5s forwards;
}

.hackLnContainer .details label:nth-child(2) {
    font-size: 20px;
    color: #EBEBEB;
    font-weight: 600;
}

.hackLnContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
    & > .details > div > label {
        text-align: left;
    }
    // background: linear-gradient(to right, #000, #A62349, transparent);
    @include sm(){
        min-width: 100%;
        flex-direction: column;
    }
}

.hackLnContainer .details {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hackLnContainer .details p {
    align-self: flex-end;
    color: rgb(179, 78, 238);
    font-weight: 600;
    text-align: left;
    margin-right: 5px;
    opacity: 0;
    font-size: 1em;
}

.hackLnContainer[data-hackLn="visible"] .details p {
    animation: secondheading 3s 1s both;
}

.devFestContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    // background: linear-gradient(to right, #000, #D36B00, transparent);
    @include sm(){
        min-width: 100%;
        flex-direction: column;
    }
  
}

.devFestContainer .details {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.devFestContainer .details label:nth-child(1) {
    color: #fff;
    font-weight: 600;
    font-size: 2.20em;
    opacity: 0;
}

.devFestContainer[data-hackdev="visible"] .details label:nth-child(1) {
    animation: movetextcolor 5s forwards;
}

.devFestContainer {
    div.details {
     align-items: flex-end;
    }
}

.devFestContainer .details label:nth-child(2) {
    font-size: 20px;
    color: #fff;
    text-align: right !important;
}

.devFestContainer .details p {
    font-size: 1em;
}

.devFestContainer .details p {
    align-self: flex-end;
    color: rgb(179, 78, 238);
    font-weight: 600;
    text-align: left;
    margin-right: 5px;
    opacity: 0;
    font-size: 1em;
}

.devFestContainer[data-hackdev="visible"] .details p {
    animation: secondheading 3s 1s both;
}

@keyframes movetextcolor {
    0% {
      bottom: -0.2em;
      opacity: 0;
      color: #3E5C76;
    }
    
    50% {
      bottom: 0.2em;
      color: #EC058E;
    }
  
    100% {
      bottom: 0;
      opacity: 1;
      background: -webkit-linear-gradient(#42032C, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
  }
  
  .images{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    gap: 15px;
    opacity: 0;
    overflow: visible;
    @include sm() {
        opacity: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }

  .images .imagesBackground {
    @include sm() {
        opacity: 0;
    }
  }

  .hackLnContainer[data-hackLn="visible"] .images{
    animation: cardStream 2s 1s forwards;
    @include sm() {
        animation: none;
    }
  }

  .hackLnContainer[data-hackLn="visible"] .images .imagesBackground{
    @include sm() {
        opacity: 0;
        animation: cardStreamMob 2s calc(var(--image-delay) * 1.5s) forwards;
    }
  }

  .devFestContainer .images {
    flex-direction: row-reverse;
    overflow: visible;
    opacity: 0;
    @include sm() {
        flex-direction: column;
        align-items: center;
        opacity: 1;
    }
}

.devFestContainer[data-hackdev="visible"] .images {
    animation: cardStreamBackword 2s 1s forwards;
    @include sm() {
        animation: none;
    }
}

.devFestContainer[data-hackdev="visible"] .images .imagesBackground {
    @include sm() {
        opacity: 0;
        animation: cardStreamBackwordMob 2s calc(var(--image-delay) *1.5s) forwards;
    }
}

  .imagesBackground{
    width: 350px;
    height: 200px;
    background-size: cover;
    cursor: pointer;
    @include sm() {
        width: 300px;
    }
  }

  .imagesBackground:hover {
    transform: scale(1.5);
    transition: 1s;
    @include sm() {
        transform: scale(1.2);
    }
  }

  .awardsContainerMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    h1:first-child {
        opacity: 0;
        width: 25ch;
        @include sm() {
            width: 100%;
        }
    }
    p{
        align-self: flex-end;
        color: #F6F6F6;
        font-weight: 600;
        text-align: right;
        margin-right: 5px;
        font-size: 1.5em;
        opacity: 0;
    }
  }

  .awardsContainerMain[data-award="visible"] {
    h1:first-child {
        animation: firstheading 6s forwards;
    }
    p{
        animation: secondheading 3s 1s forwards;
    }
  }

  .technology{
    width: 300px;
    height: 300px;
    perspective: 500px;
    transform-style:preserve-3d;
  }

  .technology label {
   color: #fff;
   
   left: 50%;
   top: 50%;
   transform: translateZ(150px);
  }

  @keyframes secondheading {
    from , 50%{
        opacity: 0;
    }

     to {
        opacity: 1;
    }
}


  @keyframes firstheading {
    from {
        clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    }

    50%, to {
        opacity: 1;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);;
    }
}

@keyframes educationAnim {
    from {
        opacity: 0;
        clip-path: inset(5% 48% 5% 47%);;
    }

    50%, to {
        opacity: 1;
        clip-path:inset(5% 1% 5% 0);
        animation: none;
    }
}

  @keyframes techFitting {
    0% {
      opacity: 0;
    }
    
    100% {
      opacity: 1;
    }
  }

@keyframes imageFitting {
    0% {
    opacity: 0;
    overflow: hidden;
    transform: translateY(10px);
        
    }
    
    100% {
    opacity: 1;
    transform: translateY(0px);
    }
}

.techContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    @include sm() {
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;
        margin-top: 0;
        margin-bottom: 50px;
    }
}
    
.techContainer div  {
    --dx: calc(var(--x) *1px);
    --dy: calc(var(--y) *1px);
    // transform: rotate(0deg) translate3D(25vw, 25vh, 300px);
    box-shadow: 12px var(--dy) 15px 1px rgba(138, 138, 196, 0.2);
    color: rgb(216, 111, 13);
    animation: sqrB 10s calc(var(--delay) * -1s) infinite linear;
    @include sm() {
        box-shadow: 12px 12px 15px 1px rgba(138, 138, 196, 0.2);
        animation: sqrBMobile 10s calc(var(--delay) * -1s) infinite linear;
    }
}

@keyframes sqrB {
    from { transform: perspective(600px) rotateX(0deg)  translate3D(0, 0, 150px) rotateX(0deg)}

    25% {
          transform: perspective(600px) rotateX(90deg)  translate3D(0, -150px, 0px)  rotateX(-90deg)
    }
    50% {
        transform: perspective(600px) rotateX(180deg)   translate3D(0, 0, -150px)  rotateX(-180deg)
    }
    75%{
        transform: perspective(600px) rotateX(270deg)  translate3D(0, 150px, 0px)  rotateX(-270deg)
    }
    to  { transform: perspective(600px) rotateX(360deg) translate3D(0, 0, 150px)  rotateX(-360deg)}
  }

  @keyframes sqrBMobile {
    from { transform: perspective(800px) rotateY(0deg)  translate3D(-100px, 0, 0) rotateY(0deg)}

    to  { transform: perspective(800px) rotateY(360deg) translate3D(-100px, 0, 0)  rotateY(-360deg)}
  }

  @keyframes cardStream {
    from, 0%{
        opacity: 0;
        overflow-x: hidden;
        transform: translateX(50%) translateY(50px) scale(0.5); 
    } 
    75% {
        opacity: 1;
        transform: translateX(10%) translateY(50px) scale(1);
    }
    to {
        opacity: 1;
        transform: translateX(0) translateY(0) scale(1);
    }
}

@keyframes cardStreamMob {
    from{
        opacity: 0;
        overflow-x: hidden;
        transform: translateX(10%); 
    } 
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes cardStreamBackword {
    from, 0%{
        opacity: 0;
        overflow-x: hidden;
        transform: translateX(-50%) translateY(50px) scale(0.5); 
    } 
    75% {
        opacity: 1;
        transform: translateX(-10%) translateY(50px) scale(1);
    }
    to {
        opacity: 1;
        transform: translateX(0) translateY(0) scale(1);
    }
}

@keyframes cardStreamBackwordMob {
    from{
        opacity: 0;
        overflow-x: hidden;
        transform: translateX(-50%); 
    } 
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes educationTitle {
    from, 0%{
        opacity: 0.2;
        overflow-x: hidden;
        transform: translateY(100px) scale(1.2); 
    } 
    75% {
        opacity: 1;
        transform:  translateY(0) scale(1.2);
    }
    to {
        opacity: 1;
        transform: translateX(0) translateY(0) scale(1);
    }
}